#leftOut,
#leftIn {
  margin-left: 20px;
}
body {
  margin-top: 20px;
}
#numberWraper {
  padding-left: 0px;
  margin-top: 20px;
  height: 100px;
}
#numberWraper li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 10px;
  color: indianred;
  background-color: indianred;
  text-align: center;
  cursor: pointer;
  list-style: none;
}
#numberWraper :nth-child(n+2) {
  margin-left: 3px;
}
